<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="col-12 py-5 text-center">
			<h3>DLA TEAMS</h3>
		</div>
		<div class="col-md-8 mx-auto pb-5">
			<div class="row">
				<div class="col-12">
					<h5>DLA IDEATION TEAM</h5>
				</div>
				<div class="col-12">
					<p>
						Hello beautiful People of God, I welcome you to De Light Ambassadors Family and it is my earnest prayer that as you join us your relationship with God will continue to grow and blossom as we learn from and love each other as God has commanded us.
						De Light Ambassadors as a family has a unit called the Ideation Team. Well as the name implies, the team consists of people per excellence who are dedicated to serving God and bringing up ideas to enhance the growth of the DLA family as a whole. The Ideation team has a total of 16 people currently who put their all into their service to God, to the DLA family and to humanity in general. Some of the members are also leaders of subteams. The ideation team has five subteams which include The Welfare Subteam, The Follow-up Subteam, The Prayer Subteam, The Database Subteam and The Sunday Special Subteam. Each subteam has a number of responsibilities which are carried out by the members of the subteam lead by their leaders. Above all the unspoken motto of the Ideation team is Love and this also applies to the Dla family in general.
					</p>
					<div>
						<h5>SUB-TEAMS</h5>
						<ul>
							<li class="" >
								<a class=""  [routerLink]="['/welfare/team']"   >DLA welfare</a>
		
							</li>
							<li>
		
							  <a [routerLink]="['/followup/team']" >DLA follow up </a>
		
							</li>
							<li>
		
							  <a [routerLink]="['/special/sunday/team']" >DLA sunday special</a>
		
							<li>

							  <a [routerLink]="['/prayer/team']" >DLA prayer team</a>
		
							</li>
		
							<li>

							  <a [routerLink]="['/database/team']" >DLA database team</a>
		
							</li>
						  </ul>
					</div>
					
				</div>
				<!-- <div class="col-12">
					Ideation subteam
					
				</div> -->

			</div>
		</div>
		
	</div>
</div>
<app-footer></app-footer>