<div class="footer">
	<div class="container pt-4 pb-4">
		<div class="row">
			<div class="col-md-4">
				<p>Site Links</p>
				<ul>
					<li [routerLink]="['/events']">Events and Projects</li>
					<li [routerLink]="['/guild']">Guildlines</li>
					<li [routerLink]="['/gallery']">Picture Gallery</li>
					<li [routerLink]="['/teams']">Teams</li>
					<li [routerLink]="['/']">Gifts and Talents</li>
				</ul>
			</div>
			
			<div class="col-md-4">
				<div class="row">
					<div class="col-12">
						<p>Social Media</p>
					</div>
					<div class="col-12">
						<ul>
							<li>
								<a href="https://	instagram.com/delight_ambassadors" target="_blank" rel="noopener noreferrer">instagram</a> 
							</li>
			
							<li>
								<a href="https://chat.whatsapp.com/D5AiygfFyuw2z7XlkKrZAo
								" target="_blank" rel="noopener noreferrer">join us on whatsapp</a> 
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<p>
					Contact us
				</p>
				<ul>
					<li>+234 806 357 3337 <br>
						+234 813 966 2445 <br>
						+234 703 965 2529 <br>
						+220 201 4499 <br>
					</li>
				</ul>
			</div>

			<div class="col-md-4">
				<p>
					Send us Mail
				</p>
				<ul>
					<li>
						&#9993;
						delightambassador@gmail.com
					</li>
				</ul>
			</div>
		</div>

		
	</div>
</div>