p{
	text-transform: capitalize;
	font-weight: bold;
	font-size: medium;
	margin-bottom: 3px;
}

.footer{
	padding: 20px;
	background: rgba(0,0,0,.9);
	color:  var(--text-color);
}

.container{
	display: flex;
	justify-content: space-between;
}

a{
	color: var(--text-color);
	text-decoration: underline;
}

@media(max-width: 799px){
	.container{
		padding: 0;
	}
}