<div class="footer">
	<div class="container">
		<div>
			<p>Site Links</p>
			<ul>
				<li>Literature section</li>
				<li>Archives</li>
				<li>Picture Gallery</li>
				<li>Membership</li>
				<li>Support</li>
				<li>Gifts and Talents</li>
			</ul>
		</div>
		<div>
			<p>Social Media</p>
			<ul>
				<li> 
					<a href="http://" target="_blank" rel="noopener noreferrer">twitter</a>
				</li>

				<li>
					<a href="http://" target="_blank" rel="noopener noreferrer">facebook</a> 
				</li>

				<li>
					<a href="http://" target="_blank" rel="noopener noreferrer">instagram</a> 
				</li>

				<li>
					<a href="http://" target="_blank" rel="noopener noreferrer">chat us on whatsapp</a> 
				</li>
			</ul>
		</div>
	</div>
</div>