<app-navbar></app-navbar>
<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-12 py-5 text-center">
				<h3>DLA SPECIAL SUNDAY TEAM</h3>
			</div>
			<div class="col-md-8 mx-auto">
				<div class="row">
					<div class="col-12">
						<p>
							The Sunday Special subteam is a team composed of people who love God. The team has a set of creative individuals with innovative ideas which are all for the Kingdom. The team has a couple of proficient members led by Ambassadors Addo Praise and Omosebi Omotolani. <br>
							 The Sunday Specials sessions feature the following activities: Quiz, Interviews, Rhema conversations, Spirit uproar, Debates, Talks on different aspects of life and many more. The Sunday Special team is responsible for all Sunday activities like asking questions on topics like bible and inspirational topic and there is also interview segment, debate, sharing materials like spiritual books, videos and audios as well.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
