<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="col-12 py-5 text-center">
			<h3> DLA DATABSE TEAM
			</h3>
		</div>
		<div class="col-md-8 mx-auto">
			<div class="row">
				<div class="col-12">
					<p>
						Great Ambassadors of the kingdom, I sincerely count you lucky to find yourself among the body of Christ, Delight Ambassadors.  <br>

						DLA has a sub unit called the DATABASE TEAM, under the Ideation team jurisdiction. This group consists of dedicated members who put in their best to see many come to Christ, by creating ads to invite non-members to join the train. We also ensure that we have the data of all members provided by the Follow-up team to check on members and celebrate their special days. As you move on aboard this train, I assure you that together, we shall fulfill purpose.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
