<app-navbar></app-navbar>
<div class="body">
	<div>
		<div class="pt-5 ">
			<div class="container">
				<div class="row">
					<div class="col pad">
						<h3 > GUIDELINES FOR MEMBERS</h3>
						<ul>
							Must be a young person between the ages of 9 and 24. (A member who joined before age 24 who is now above still remains a member).
							<li>Must be willing to be mentored.
							<li>Must be teachable with open heart.
							<li>Must have a desire for positive change.
							<li>Must be willing to share his or her issues with the facilitators.
							<li>Must have a Leadership mindset and mentality.
						</ul>
					</div>
				</div>
					
			</div>
		</div> 
		

		<div class="pt-5 pb-5 bg-white" id="projects">
			<div class="container">
				<div class="row">
					<div class="col">
						<h3> GUIDLINES FOR FACILITATORS</h3>
						<ul>
							<li>Must be a true believer in Christ Jesus.</li>
							<li>Must be purpose driven.</li>
							<li>Must have genuine passion for young people.</li>
							<li>Must be ready to abide with the organizational rules of DLA.</li>
							<li>Must be ready to be committed to the mission and vision of DLA.</li>
							<li>Must be ready to commit to the programmes financially.</li>
							<li>Must have good track records.</li>
							<li>Must have a clear direction on career and acts of responsibilities.</li>
						</ul>
					</div>
				</div>
					
			</div>
		</div>
	</div>
	<app-footer class ='footer'></app-footer>
</div>	