.text-color{
	li {
		color: rgba(122, 125, 133);
	}	
} 
.links{
	z-index: 999;
	position: sticky;
	top: 0;
	.container{
		padding: 15px;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-transform: capitalize;
		padding: 0;
		li{
			cursor: pointer;
			padding: 3px;
		}
	}
}





