.links{
	z-index: 999;
	position: sticky;
	top: 0;
	padding: 0;
	ul{
		display: flex;
		justify-content: space-around;
		text-transform: capitalize;
		li{
			cursor: pointer;
			// color: rgb(211, 11, 211);
		}
	}
}