<div>
	<app-navbar></app-navbar>
	<div class="welcome-container links" id="link" [ngStyle]="{background: isShow ? 'rgb(211, 11, 211)' : '#fff'}" >
		<div class="container">
			<ul [ngStyle]="{color: isShow ? '#fff' : '#000'}">
				<li [routerLink]="['/guild']"> guidlines </li>
				<li [routerLink]="['/events']"> Events & projects</li>
				<li [routerLink]="['/teams']">Teams </li>
			</ul>
		</div>
	</div>
	<div class="mb-2">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-3 mt-3">
					<h3>About Us</h3>
				</div>
				<div class="col-12 mb-5">
					<p>
						De-light Ambassadors Int’l is a global impact organization borne out of a strong passion for young people, especially Teenagers, Adolescents and Young Adults; to break them from the societal status-quo, and help them to discover and manifest their original essence (Purpose) to the fullest, through strategic mentorship. 
					</p>
					<p>
						The organization set out with two members in the year 2015 at the prestigious University of Lagos, through a clear divine inspiration to illuminate this generation. Since her inception however, the organization has been making diverse impacts amongst the young people through strategic mentorship programmes across the Nation Nigeria and beyond 
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- aims -->	
	<div class="pb-2 bg-white pt-5" id="aims">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-3 mt-3">
					<h3> AIMS AND OBJECTIVES</h3>
				</div>
				<div class="col-12 mb-5">
					<ul class="text-color">
						<li>
							To provide aids for young people in all aspects of their lives through strategic mentorship.
						</li>
						<li>To help young people find and fulfill their purpose in life.</li>
						<li>To assist young people in choosing and building a strong and solid career in life.</li>
						<li>To guide young people in the discovery, development and maximum usage of their Gifts, Talents and potentials.</li>
						<li>To equip the young people with knowledge required to journey through life in the place if values, discipline, motivation and related virtues.</li>
						<li>To raise leaders who would be useful individually and for the society at large.</li>
					</ul>
				</div>
				<!-- <div class="col img">
					<img src="../assets/aims.jpg" alt="" srcset="">
				</div> -->
			</div>
				
		</div>
	</div>

	<!-- strategy -->
	<div class="pt-5 pb-5" id="strategy">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 >OUR OPERATIONAL STRATEGIES</h3>
				</div>
				<div class="col-12">
					<ul class="text-color">
						<li>
							Both the facilitators and members shall bear the name Ambassador (e.g. Ambassador AY).
						</li>
						<li>
							Online Mentorship; Whatsapp, Facebook, blog etc.(through strategic teachings by facilitators on different topical issues of life; spiritual, academics, career, financial, relationships, etc.)
						</li>
						<li>
							Magazine production and strategic deployment.
						</li>
						<li>
							Team grouping of young people among our facilitators for a consistent follow-up.
						</li>
						<li>
							Unit set up for various levels of services and talent utility unto the Kingdom and humanity.
						</li>
						<li>
							Teens' Missions (Outreaches to schools, orphanage homes, hospitals, churches etc.)
						</li>
						<li>
							Networking with other groups or organizations.
						</li>
						<li>
							Network for more facilitators and sponsors in different locations and countries.
						</li>
						<li>
							Academic scholarships and prizes to our members based on agreed criteria by the facilitators.
						</li>
					</ul>
				</div>
			</div>
				
		</div>
	</div>

	<app-footer></app-footer>
</div>