.container{
	display: flex;
	justify-content: space-between;
}


li{
	--primary-color :rgb(220,20,60);
	font-weight: 800;
	color: var(--primary-color);
	padding: 0;
	cursor: pointer;
}

.active{
	color: var(--text-color);
}

.logo{
	position: relative;
	width: 70px;
	height: 70px;
}

.active{
	outline: none;
	color: rgb(192, 3, 192);
	font-weight: lighter;
}