<app-navbar></app-navbar>
<div class="body">
	<div>

	
		<div class="pt-5 pb-5 ">
			<div class="container">
				<div class="row">
					<div class="col pad">
						<h3 > EVENTS</h3>
						<ul>
							<li>DLA Awake Gatherings (Physical & Online, Periodic)</li>
							<li>Dinning with the King (Online, Thursdays)</li>
							<li>Echoes of Realities (Online, Saturdays)</li>
							<li>Sunday Specials (Online, Sundays)</li>
						</ul>
					</div>
				</div>
					
			</div>
		</div> 
	
		<div class="pt-5 pb-5 bg-white" id="projects">
			<div class="container">
				<div class="row">
					<div class="col">
						<h3> CURRENT ACTIVITIES</h3>
						
						<ul>
							<li>DLA Awake Gatherings (Physical & Online, Periodic)</li>
						<li>Dinning with the King (Online, Thursdays)</li>
						<li>Echoes of Realities (Online, Saturdays)</li>
						<li>Sunday Specials (Online, Sundays)</li>
						</ul>
					</div>
				</div>
					
			</div>
		</div>

		<div class="pt-5 pb-5" id="projects">
			<div class="container">
				<div class="row">
					<div class="col">
						<h3> OUR PROPOSED & ON-GOING PROJECTS</h3>
						
						<ul>
							<li>Development of DLA website.</li>
							<li>DLA periodic Magazine.</li>
							<li>Award of Academic Scholarships for members.</li>
							<li>Production of customized Shirts.</li>
							<li>Networking with other people for facilitation in other locations and countries.</li>
							<li>Facilitators and members' get together event.</li>
						</ul>
					</div>
				</div>
					
			</div>
		</div>

		
	</div>
	<app-footer class ='footer'></app-footer>
</div>	