<div class="container-fluid">
	<div class="row">
		<div class="col-2 px-0 bg-dark">
			<div class="sticky">
				<app-admin-navigation></app-admin-navigation>
			</div>
		</div>
		<div class="col-10">
			<div class="row">
				<div class="col-12 bg-light mb-5">
					<ul class="nav justify-content-center">
						<li class="nav-item">
							<a class="nav-link active" (click)="newEvents()">Create New Event</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" (click)="manageEvents()">Manage Events</a>
						</li>
					</ul>
				</div>
				<div class="col-12" *ngIf="newEvent">
					<h4 class="text-center">
						Create New Event
					</h4>
				</div>
				<div class="col-md-8 mx-auto" *ngIf="newEvent" >
					<form action="">
						<div class="form-group">
						  <label for="title">Event Title</label>
						  <input type="text" name="" id="title" name="title" class="form-control rounded-0" placeholder="" aria-describedby="helpId" [(ngModel)]="data.title">
						</div>
						
						<div class="form-group">
							<label for="summary">Event Brief</label>
							<textarea class="form-control rounded-0" name="summary" id="summary" rows="3" [(ngModel)]="data.content"></textarea>
						</div>

						<div class="form-group">
						  <label for="">Upload event flyer</label>
						  <input type="file" class="form-control-file rounded-0 border-0" name="" id="" aria-describedby="helpId" placeholder="">
						</div>
						<button class="btn btn-primary rounded-0 mt-3" (click)="CreateNewEvent()"  [disabled] = 'loading' >Publish Event</button>
					</form>
				</div>
				
				<div class="col-md-6 mt-3 mb-3" *ngFor="let event of allevents">
					<div *ngIf="events">
						<div class="card rounded-0">
							<img src="https://cf.ltkcdn.net/family/images/std/200821-425x283-family.jpg" alt="" >
						</div>
						<p class="pt-3 pb-3" > {{event.title}} </p>
						<button class="btn btn-primary rounded-0" (click)="deleteEvent(event.id)" >Delete Event</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</div>