<div class="container-fluid">
	<div class="row">
		<div class="col-12 pt-5 pb-5">
			<h2 class="text-center">EVENT AND ACTIVITY</h2>
		</div>
		<div class="col-md-2">
			<div class="col-12 bg-white pt-3 pb-3 bg-white mb-5  mb-5">
				<ul class="">
					<li class="nav-item" [routerLink]="['/admin']">
						<a class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" (click)="newEvents()">Create New Event</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="manageEvents()">Manage Events</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<!-- form -->
				<div class="col-12" *ngIf="newEvent" >
					<form action="">
						<div class="form-group">
						  <label for="title">Event Title</label>
						  <input type="text" name="" id="title" name="title" class="form-control rounded-0" placeholder="" aria-describedby="helpId" [(ngModel)]="data.title">
						</div>
						
						<div class="form-group">
							<label for="summary">Event Brief</label>
							<textarea class="form-control rounded-0" name="summary" id="summary" rows="3" [(ngModel)]="data.content"></textarea>
						</div>

						<div class="form-group">
						  <label for="">Upload event flyer</label>
						  <input type="file" (change) = "imageUpload($event)" class="form-control-file rounded-0 border-0" name="" id="" aria-describedby="helpId" placeholder="">
						</div>
						<button class="btn bg-light rounded-0" (click)="createNewEvent()"  [disabled] = 'loading' >Publish Event</button>
					</form>
				</div>
				
				<!-- management -->
				<div class="col-md-6 mt-3 mb-3" *ngFor="let event of allevents">
					<div *ngIf="events">
						<app-imagecard [image] = 'event'></app-imagecard>
						<button class="btn bg-light mt-3 form-control rounded-0" (click)="deleteEvent(event.id)" >Delete Event</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</div>