.img{
	margin: 3px 3px 10px;
}

.img-container{
	position: relative;
	width: 200px;
	height: 200px;
	background: var(--text-color);
	border-radius: 5px;
	overflow: hidden;
}

.img{
	display: block;
}

@media (max-width:799px){
	.img-container{
		width: 250px;
		height: 250px;
	}
}