<div class="container-fluid">
	<div class="row">
		<div class="col-12 pt-5 pb-5">
			<h2 class="text-center">gallery</h2>
		</div>
		<div class="col-md-2">
				<!-- headers -->
			<div class="col-12 bg-white pt-3 pb-3 mb-5  mb-5">
				<ul class="nav ">
					<li class="nav-item" [routerLink]="['/admin']">
						<a class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" (click)="addNewImage()">Add new image</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="manageAllImage()">Manage Gallery</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<!-- form -->
				<div class="col-md-12" *ngIf="newImage" >
					<form>
						<!-- input -->
						<div class="form-group">
						  <label for="">Upload Picture</label>
						  <input type="file" (change) = 'imageUpload($event)' class="form-control-file" name="" id="" placeholder="" >
						</div>

						<!-- caption -->
						<div class="form-group">
						  <label for="">Caption</label>
						  <input type="text"
							class="form-control rounded-0" name="" placeholder="Image caption" [(ngModel)]="data.caption" name ='caption'>
						</div>
						<button class="btn mt-3 mb-3 pt-2 pb-2  bg-white btn-sm px-5"  *ngIf = 'loading' >
							<div class="col-12">
								<div class="loader-btn"></div>
							</div>
						</button>
						<button class="btn bg-light rounded-0" (click)="uploadNewImage()" *ngIf = '!loading'>Upload Picture</button>
					</form>
				</div>

				<!-- management -->
				<div class="col-md-4 mb-5" *ngFor="let image of allImages" >
					<div *ngIf="allimage" >
						<app-imagecard [image] = 'image'></app-imagecard>
						<button class="btn bg-light mt-3 form-control" (click)="deleteImage(image.id)">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>