<div class="container-fluid">
	<div class="row">
		<div class="col-2 px-0 bg-dark">
			<div class="sticky">
				<app-admin-navigation></app-admin-navigation>
			</div>
		</div>
		<div class="col-10">
			<div class="row">
				<div class="col-12 bg-light">
					<ul class="nav justify-content-center">
						<li class="nav-item">
							<a class="nav-link active" (click)="addNewImage()">Add new image</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" (click)="manageAllImage()">Manage Gallery</a>
						</li>
					</ul>
				</div>
				<div class="col-md-8 mx-auto pt-5" *ngIf="newImage" >
					<form (ngSubmit)="onSubmit()" #form="ngForm">
						<div class="form-group">
						  <label for="">Upload Picture</label>
						  <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
						</div>

						<div class="form-group">
						  <label for="">Caption</label>
						  <input type="text"
							class="form-control rounded-0" name="" id="" aria-describedby="helpId" placeholder="Image caption">
						</div>

						<div class="preview">

						</div>
					</form>
				</div>
				<div class="col-md-4 pt-5" *ngIf="allimage" >
					<div class="card rounded-0">
						<img src="https://cf.ltkcdn.net/family/images/std/200821-425x283-family.jpg" alt="">
					</div>
					<p class="">caption</p>
					<button class="btn btn-primary form-control">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>