Logo
<ul class="justify-content-center ">
	<li class="nav-item">
		<a class="nav-link active" [routerLink]="['/admin/dashboard']" >Dashboard</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active"[routerLink]="['/admin/blog']"  >Manage Blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['/admin/event']">Manage Events</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['/admin/profile']">Manage Profile</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['/admin/gallery']">Manage Gallery</a>
	</li>
</ul>
