<app-navbar></app-navbar>
<div class="body">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-12 py-5">
					<h3>
						DLA FACILITATORS
					</h3>
				</div> 
	
				
			</div>
			<div class="row pb-5" *ngFor="let data of allData">
				<div class="col-md-5">
					<div class="image-container">
						<div class="img">
							<img src="{{data.picture}}" alt="" srcset="">
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="px-3">
						<p><strong>{{data.name}}</strong> <br>
							<small>{{data.office}}</small>
						</p>
						<p [innerHTML] = 'data.about'>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>	
</div>
