<div class="container-fluid ">
	<div class="row">
		<div class="col-12 pt-5 pb-5">
			<h2 class="text-center">blog</h2>
		</div>
		<div class="col-md-2">
			<div class="col-12 pt-3 pb-3 bg-white mb-5 ">
				<ul class="nav">
					<li class="nav-item" [routerLink]="['/admin']">
						<a class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" (click)="newBlog()">Create new Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="manageBlog()">Manage Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="manageComment()" >Manage Comments</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
		
			<div class="col-12" *ngIf="editor">
				<form action="" class="mb-2">
					<div class="alert alert-warning" *ngIf="error">
						{{message}}	
					</div>
					<div class="alert alert-info" *ngIf="success">
						{{message}}	
					</div>
					<div class="form-group mb-4">
						<label for="tile">Title</label>
						<input type="text"
						class="form-control rounded-0" name="title" [(ngModel)]="data.title" id="" placeholder="Title">
					</div>

					<div class="form-group mb-4">
						<label for="">Header Image</label>
						<input type="file" class="form-control-file" name="" id="" placeholder=""  (change) = "imageUpload($event)">
					</div>

					<quill-editor class="mb-4"  [(ngModel)]="data.content" name= 'blog' [modules] = 'modules'></quill-editor>
				</form>
				
				<button class="btn mt-3 mb-3 pt-2 pb-2  bg-white btn-sm px-5"  *ngIf = 'loading' >
					<div class="col-12">
						<div class="loader-btn"></div>
					</div>
				</button>
				<button class="btn mt-3 mb-3  bg-light btn-sm px-5" (click)="createContent()" *ngIf = '!loading' >
					Publish
				</button>
				<div class="preview" [innerHTML] = 'data.content'></div>
			</div>

			<div class="col-12" *ngIf="blog">
				
				<div class="row">
					<div class="loader-cover" *ngIf = 'loading'>
						<div class="col-12">
							<div class="loader"></div>
						</div>
					</div>
					<div class="col-md-6 mb-4" *ngFor="let blog of blogContent">
						<app-imagecard [image] = 'blog'></app-imagecard>

						<button class="btn bg-light mt-3 form-control " (click)="deleteContent(blog.id)" [disabled] = 'loading'>Delete</button>
					</div>
				</div>
			</div>

			<!-- comment -->
			<div class="col-12" *ngIf="comment">
				<div class="row mb-3 " *ngFor="let comment of allcomment">
					<div class="col-md-10">
						<p [innerHTML] = 'comment.comment'>
						</p>
						<small>
							blog reference: {{comment.reference}}
						</small>
					</div>
					<div class="col-md-2">
						<button class=" btn bg-light rounded-0" (click)="deleteComment(comment.id)">remove comment</button>
					</div>
					<hr>
				</div>
			</div>
					
		</div>
	</div>
</div>
