<div class="container-fluid ">
	<div class="row">
		<div class="col-2 px-0 bg-dark">
			<div class="sticky">
				<app-admin-navigation></app-admin-navigation>
			</div>
		</div>
		<div class="col-10">
				<div class="row">
					<div class="col-12 bg-light px-0 mb-5 pt-2 pb-2 pl-5 ">
						<h5 class="">Dashboard</h5>
						<p>Logs of all event and databse are seen here</p>
					</div>
					<div class="col-md-6 mb-3">
						<app-card [content]= 'blog'></app-card>
					</div>
					<div class="col-md-6 mb-3">
						<app-card [content] = 'profile'></app-card>
					</div>
					<div class="col-md-6 mb-3">
						<app-card [content] = 'events'></app-card>
					</div>
					<div class="col-md-6 mb-3">
						<app-card [content] = 'gallery'></app-card>
					</div>
				</div>
			</div>
	</div>
</div>
