
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

@import '~@fortawesome/fontawesome-free/css/all.min.css';

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

h3{
	text-transform: capitalize;
	color: var(--primary-color) ;
}

.bg-light{
	background: rgba(204, 5, 204, .1) !important ;	
}

.bg-white{
	background: rgba(206, 206, 206, 0.1) !important ;
}

p{
	color: rgba(122, 125, 133);
}

.body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul{
	list-style-type: none;
}


img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-card{
	.img{
		position: relative;
		height: 300px;
	}
	
}

.card-container{
	height: 400px;
	width: 100%;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

input, .btn{
	border: 1px solid rgba(122, 125, 133, .3) !important;
	outline: 0 !important;
	box-shadow: none !important;
}

h2{
	text-transform: capitalize;
}

.loader-cover{
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100%;
	z-index: 999;
	width: 100;
	background: #f512121a 
}

.loader {
	margin: auto;
	margin-top: 15	0px;

	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid rgba(1, 71, 92, .6);
	width: 100px;
	height:100px;
	-webkit-animation: spin .5s linear infinite;
	animation: spin .5s linear infinite;
}

.loader-btn {
	
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid rgba(1, 71, 92, .6);
	width: 20px;
	height:20px;
	-webkit-animation: spin .5s linear infinite;
	animation: spin .5s linear infinite;
}
  
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}





