/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import '~@fortawesome/fontawesome-free/css/all.min.css';

*{
	// border: solid 1px grey;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--primary-color: rgba(220,20,60, .8);
	--secondary-color: rgb(255, 255, 255);
	--header-color: rgb(34, 35, 37);
	--text-color: rgb(122, 125, 133);
	--main-spacing: 15px;
	--standard-spacing: 10px;
	--inline-spacing: 5px;
	line-height: 1.7em;
}

.container{
	// padding: 30px;
	// width: 800px;
	// max-width: 90%;
	// margin: auto;
	h3{
		color: var(--primary-color);
		padding: 10px 0;
	}
}
.sticky {
	position: sticky;
	top: 0;
	height: 100vh;
}
.bg-dark{
	background: purple !important;
}
.card{
	height: 300px;
}

ul{
	list-style-type: none;
}

.row{
	display: flex;
}

.col{
	flex: 1;
	min-height: 250px;
	overflow: hidden;
	position: relative;
}

img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

li{
	padding: 3px 0 ;
}

.welcome-container{
	color: var(--text-color);
}

@media screen and(min-width: 799px){
	.container{
		i{
			display: none;
			
		}

		.pad{
			padding-left: 10px;
		}
	}
}

@media screen and(max-width:799px){
	.img{
		display: none;
	}
}