<app-navbar></app-navbar>
<div class="container" *ngIf ='content'>
	<div class = 'row pt-5'> 
		<div class="col-12">
			<div class="image-container">
				<div class="img">
					<img src="{{content.picture}}" alt="" srcset="">
				</div>
				<div class="meta">
					<p>
						author: {{writter.name}}
					</p>
				</div>
			</div>
		
			<div class="blog-content">
				<div class="title">
					<p>
						{{content.title}}
					</p>
					
				</div>
				<div class="content">
					<p [innerHTML] = 'content.content'>

					</p>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4">
			<form action="">
				<div class="form-group">
				  <label for=""></label>
				  <input type="text"
					class="form-control rounded-0 bg-white" [(ngModel)]="data.alias" name="alias" id="" placeholder="name">
				</div>
				<quill-editor placeholder="Your comment here..." [modules] = 'modules' [styles]="{height: '150px', backgroundColor: 'rgba(206, 206, 206, 0.1)'}" [(ngModel)]="comment" name="comment"></quill-editor>
				<div class="text-right">
					<button (click)="postComment(content.id)" class="btn bg-light mt-4 ">Comment</button>
				</div>
			</form>
		</div>
		<div class="col-12 pb-5"> 
			<div *ngFor="let comment of allcomment">
				<div class="comments pb-2">
					<small *ngIf="comment.alias">{{comment.alias}}</small>
					<small *ngIf="!comment.alias">Anonymous</small>
					<p [innerHTML] = 'comment.comment'></p>
				</div>
			</div>
		</div>

		<div class="col-12 pb-5">
			<div class="row">
				<div class="col-md-1 pb-5">
					<img [src]="writter.picture" alt="" style="width: 30px; height: 30px; border-radius: 50%;" class="mr-auto">
					
				</div>
				<div class="col-md-11" >
					<p>
						{{writter.name}}
					</p>
					<p [innerHTML] = 'writter.about'>
						
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>