.image-container{
	margin-bottom: 20px;
	.img{
		height: 300px;
		background: red;
	}
	.meta{
		text-align: center;
		padding: 5px;
		color: #222222;
	}
}

.blog-content{
	margin-bottom: 20px;
	.title{
		text-transform: capitalize;
		font-size: xx-large;
		text-align: center;
		margin-bottom: 10px;
	}

	.content{
		font-size: medium;
		padding: 10px 0 30px 0;
	}
}

.comments{

}
