<app-navbar></app-navbar>
<div class="container" *ngIf ='content'>
	<div class = 'row pt-5'> 
		<div class="col-12">
			<div class="image-container">
				<div class="img">
					<img src="{{content.picture}}" alt="" srcset="">
				</div>
				<div class="meta">
					lorem
				</div>
			</div>
		
			<div class="blog-content">
				<div class="title">
					{{content.title}}
				</div>
				<div class="content" [innerHTML] = 'content.content'>
				</div>
			</div>
		</div>
		
	
		<div class="comments">
			<h3>Comments</h3>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cumque
		</div>
	</div>
	
	
</div>