<app-navbar></app-navbar>
<div class="container">
	<div class="image-container">
		<div class="img">

		</div>
		<div class="meta">
			lorem
		</div>
	</div>

	<div class="blog-content">
		<div class="title">
			lorem
		</div>
		<div class="content">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit, eligendi inventore ad assumenda ipsam quae. Est cumque mollitia rerum ab saepe dicta laboriosam reprehenderit eius nihil. Facilis, minima corrupti.Asperiores distinctio rem cum architecto voluptate quos eos tempora excepturi in, repellendus magnam nam maiores ea veritatis nihil accusantium ipsam? Impedit soluta nulla nihil molestiae id distinctio temporibus vitae cupiditate!
		</div>
	</div>

	<div class="comments">
		<h3>Comments</h3>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cumque
	</div>
</div>