
<app-navbar class="fixed-top"></app-navbar>
<div class=" header">
	<div class="slider">
		<div class="cover">
			<img src="https://images.sadhguru.org/sites/default/files/media_files/iso/en/57758-youth-faith-and-belief.jpg" alt="" srcset="">
			<div class="message">
				<div class="container">
					<div class="row">
						<div class="col-md-8 mx-auto text-center">
							<p>
								Welcome to the official page of De-light Ambassadors Int’l, a global impact organization borne out of a strong passion for young people, especially Teenagers, Adolescents and Young Adults; to break them from the societal status-quo, and help them to discover and manifest their original essence (Purpose) to the fullest, through strategic mentorship.
							</p>
							
							<p class="btn btn-success mt-3 mb-5">
								learn more
							</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	
	</div>
</div>

<div class="delight-container ">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6 pt-5 pb-5 bg-white">
				<div class="row pt-5 pb-5 ">
					<div class="col-12 ">
						<h3 class="mx-auto mb-2">our mission</h3>
					</div>
					<div class="col-12">
						<p class="mx-auto">
							To equip and raise young people of Purpose and distinction in this crowded generation.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 pt-5 pb-5 bg-light">
				<div class="row pt-5 pb-5 ">
					<div class="col-12 ">
						<h3 class="mx-auto mb-2">our mission</h3>
					</div>
					<div class="col-12">
						<p class="mx-auto">
							Our mission is to build the minds of young people and create platforms (strategic mentorship) that would activate the best in them for self actualization.
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<app-footer></app-footer>