
<app-navbar></app-navbar>
<div class=" header">
	<div class="slider">
	</div>
</div>

<div class="welcome-container">
	<div class="container">
		<h3>WELCOME</h3>
		<p>
			Welcome to the official page of De-light Ambassadors Int’l, a global impact organization borne out of a strong passion for young people, especially Teenagers, Adolescents and Young Adults; to break them from the societal status-quo, and help them to discover and manifest their original essence (Purpose) to the fullest, through strategic mentorship.
		</p>
	</div>
</div>

<div class="welcome-container">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3> <i class="fa fa-eye" aria-hidden="true"></i> Our Vision</h3>
			<p>	To equip and raise young people of Purpose and distinction in this crowded generation. </p>
			</div>
			<div class="col img">
				<img src="../assets/vision.jpg" alt="" srcset="">
			</div>
		</div>
			
	</div>
</div>

<div class="welcome-container">
	<div class="container">

		<div class="row">
			<div class="col img">
				<img src="../assets/mission.jpg" alt="" srcset="">
			</div>
			<div class="col pad">
				<h3 ><i class="fas fa-bullseye"></i> Our Mission</h3>
				<p>To equip and raise young people of Purpose and distinction in this crowded generation.</p>
			</div>
		</div>
			
	</div>
</div>
<app-footer></app-footer>