//slider
.slider{
	margin-top: 10px;
	min-height: 200px;
	// width: 100%;
	position: relative;
	background: linear-gradient(to right,var(--primary-color), rgba(75,0,130, .4) ) , url(https://images.sadhguru.org/sites/default/files/media_files/iso/en/57758-youth-faith-and-belief.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}



@media screen and(max-width:799px){
	.container{
		padding: 20px;
	}
}