.slider{
	height: 100vh;
	position: relative;
	color: #fff;
	.cover{
		position: relative;
		height: 100%;
		// background: red;
		.message{
			height: 100%;
			width: 100%;
			background: linear-gradient(to right,rgb(119, 2, 2),rgba(204, 5, 204,.8)) , url(https://images.sadhguru.org/sites/default/files/media_files/iso/en/57758-youth-faith-and-belief.jpg);
			background-size: cover;
			background-blend-mode: darken;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			
			.btn-success{
				background: rgb(204, 5, 204) ;
				color: #fff;
				border: solid 1px rgba(204, 5, 204,.8);
				box-shadow: none;
			} 
			p{
				color: #fff;
			}
		}
	}
	
}


.delight-container{
	// height: 100vh;
	p,h3{
		width: 70%;
	}
}	



i{
	font-size: small;
}

